/* Default dark theme */
:root.theme-dark {
  /* pallete */
  --background-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --accent-color-transparent: rgba(255, 0, 112, 0.4);
  --main-title-color: #db00ff;

  /* images */
  --background-image: url(../images/cover-image-dark.png);
}
