/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  /* pallete */
  --background-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --accent-color-transparent: rgba(50, 49, 45, 0.4);
  --main-title-color: #ffc2e6;

  /* images */
  --background-image: url(../images/cover-image-light.png);
}

.theme-light .page {
  .decorative-sign {
    display: none;
  }

  .decorated-zone::before,
  .decorated-zone::after,
  .header__theme-menu-button_active {
    border-color: var(--text-color);
  }

  .section__title {
    color: var(--text-color);
  }

  .title-decor {
    color: var(--text-color);
    background-color: var(--accent-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /* pallete */
    --background-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --accent-color-transparent: rgba(50, 49, 45, 0.4);
    --main-title-color: #ffc2e6;

    /* images */
    --background-image: url(../images/cover-image-light.png);
  }
  .decorative-sign {
    display: none;
  }

  .decorated-zone::before,
  .decorated-zone::after,
  .header__theme-menu-button_active {
    border-color: var(--text-color);
  }

  .section__title {
    color: var(--text-color);
  }

  .title-decor {
    color: var(--text-color);
    background-color: var(--accent-color);
  }
}
