/* Light theme based on class toggle */
:root.theme-light {
  /* pallete */
  --background-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --accent-color-transparent: rgba(50, 49, 45, 0.4);
  --main-heading-color: #ffc2e6;
  --button-box-shadow-color: #353430;
  --header-menu-color: #353430;
  --title-decor-text-color: #353430;
  --title-decor-bg-color: #ff8dcb;
  --decorative-sign-color: #353430;
  --decorated-zone-border-color: #353430;
  --decorative-sign-display: none;
  --section-title-color: #353430;
  --footer-box-shadow-color: #ff8dcb;

  /* images */
  --background-image: url(../images/cover-image-light.png);
}

@media (min-width: 1024px) {
  :root {
    --footer-box-shadow-color:  #ff0070;
  }
}

/* Light theme based on user's automatic settings */
@media (prefers-color-scheme: light) {
  :root {
    /* pallete */
    --background-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --accent-color-transparent: rgba(50, 49, 45, 0.4);
    --main-heading-color: #ffc2e6;
    --button-box-shadow-color: #353430;
    --header-menu-color: #353430;
    --title-decor-text-color: #353430;
    --title-decor-bg-color: #ff8dcb;
    --decorative-sign-color: #353430;
    --decorated-zone-border-color: #353430;
    --decorative-sign-display: none;
    --section-title-color: #353430;
    --footer-box-shadow-color: #ff8dcb;

    /* images */
    --background-image: url(../images/cover-image-light.png);
  }
}

@media (prefers-color-scheme: light) and (min-width: 1024px) {
  :root {
    --footer-box-shadow-color:  #ff0070;
  }
}
