/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: var(--text-color);
  font-family: var(--main-font-family), sans-serif;
  font-size: var(--main-text-size);
  line-height: var(--text-line-height);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 375px;
  max-inline-size: 1200px;
}

.content-section {
  width: 100%;
  max-width: 375px;
  margin: auto;
  padding: 0 var(--padding);
  margin-block-end: 50px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

/* Header */
.header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--padding);
  block-size: 100dvh;
  margin-block-end: 40px;
}

.decorative-sign {
  position: absolute;
  top: var(--padding);
  right: var(--padding);
  color: var(--accent-color);
  line-height: 25px;
  text-transform: var(--text-transform-uppercase);
  inline-size: 61px;
  block-size: 26px;
}

.decorative-sign::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  top: var(--padding);
  right: var(--padding);
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  bottom: var(--padding);
  left: var(--padding);
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header__theme-menu {
  display: flex;
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  align-self: center;
  color: var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: var(--button-padding);
  font-family: inherit;
  font-size: inherit;
  line-height: var(--button-line-height);
  text-transform: lowercase;
  background-color: transparent;
  inline-size: var(--button-inline-size);
  block-size: var(--button-block-size);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-transparent);
}

.header__theme-menu-button:active {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: 1px solid var(--accent-color-transparent);
}

.header__title {
  display: flex;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  color: var(--main-title-color);
  font-size: var(--h1-title-size-mobile);
  line-height: var(--main-title-line-height);
  text-shadow: var(--main-title-text-shadow);
}

.header__title-description {
  display: flex;
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  align-self: center;
  font-weight: var(--bold-font-weight);
}

/* Main */
.text-decor-link {
  text-decoration: none;
  text-shadow: var(--link-shadow);
}

.section__title {
  font-size: var(--h2-text-size);
  font-weight: var(--bold-font-weight);
  line-height: var(--text-line-height);
  color: var(--accent-color);
}

.title-decor {
  color: var(--background-color);
  background-color: var(--accent-color);
}

.section__list {
  display: grid;
  gap: 20px;
}

.list-item__title {
  font-size: var(--h3-text-size);
  margin-block-end: 10px;
}

/* Footer */
.footer {
  padding: 0 var(--padding) var(--padding);
}
