/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  margin: 0 auto;
  color: var(--text-color);
  font-family: var(--main-font-family), sans-serif;
  font-size: var(--main-text-size);
  background-color: var(--background-color);
  min-inline-size: 375px;
  max-inline-size: 1200px;
}

.content-section {
  width: 100%;
  max-width: 375px;
  margin: auto;
  padding: 0 var(--padding);
}

/* Header */
.header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  padding: var(--padding);
  background-image: url(../images/cover-image-dark.png), var(--background-image);
  background-position: center;
  background-size: cover;
  block-size: 100vh;
}

.decorative-sign {
  position: absolute;
  top: var(--padding);
  right: var(--padding);
  color: var(--accent-color);
  line-height: 25px;
  text-transform: var(--text-transform-uppercase);
  inline-size: 61px;
  block-size: 26px;
}

.decorative-sign::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  top: var(--padding);
  right: var(--padding);
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  bottom: var(--padding);
  left: var(--padding);
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.title-decor {
  color: var(--background-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  grid-column-start: 3;
  grid-column-end: auto;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: end;
  align-self: center;
  color: var(--accent-color);
}

.header__title {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
  color: var(--main-title-color);
  font-size: var(--main-title-size-mobile);
  line-height: var(--main-title-line-height);
  text-shadow: var(--main-title-text-shadow);
}

.header__title-description {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 7;
  align-self: center;
}

/* Footer */
.footer {
  padding: 0 var(--padding) var(--padding);
}
