/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: var(--text-color);
  font-family: var(--main-font-family, "IBM Plex mono"), sans-serif;
  font-size: var(--main-text-size, 18px);
  line-height: var(--text-line-height, 1.3);
  background-color: var(--background-color, #000028);
  inline-size: clamp(375px, 100%, 1200px);
  min-block-size: 100%;
}

.content-section {
  display: grid;
  grid-template-columns: var(--column-size, 1fr);
  gap: var(--grid-gap, 20px);
  width: 100%;
  margin: auto;
  margin-block-end: 50px;
  padding: 0 var(--padding, 10px);
}

.content-section:last-child {
  margin-block-end: 40px;
}

.grid-item {
  grid-column: var(--start-column, 1) / span var(--item-span, 1);
}

/* Header */
.header {
  --column-count: 3;
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--column-count), var(--column-size, 1fr));
  grid-template-rows: var(--column-size, 1fr) min-content var(
      --column-size,
      1fr
    );
  margin-block-end: 40px;
  padding: var(--padding);
  background-image: var(
    --background-image,
    url(../images/cover-image-dark.png)
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  block-size: 100dvh;
}

.decorative-sign {
  position: absolute;
  top: var(--padding, 10px);
  right: var(--padding, 10px);
  color: var(--accent-color, #ff0070);
  line-height: 25px;
  text-transform: var(--headings-text-transform, uppercase);
  inline-size: 61px;
  block-size: 26px;
}

.decorative-sign::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  top: var(--padding, 10px);
  right: var(--padding, 10px);
  border-inline-end: 1px solid var(--accent-color, #ff0070);
  border-block-start: 1px solid var(--accent-color, #ff0070);
}

.decorated-zone::after {
  bottom: var(--padding, 10px);
  left: var(--padding, 10px);
  border-inline-start: 1px solid var(--accent-color, #ff0070);
  border-block-end: 1px solid var(--accent-color, #ff0070);
}

.header__theme-menu {
  display: flex;
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  align-self: center;
  color: var(--accent-color, #ff0070);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: var(--button-padding, 2px 13px);
  line-height: var(--button-line-height, 1);
  text-transform: lowercase;
  background-color: transparent;
  inline-size: var(--button-inline-size, 70px);
  block-size: var(--button-block-size, 26px);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color, #ff0070);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-transparent, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:active {
  border: 1px solid var(--accent-color, #ff0070);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: 1px solid var(--accent-color-transparent, rgba(255, 0, 112, 0.4));
}

.header__title {
  --item-span: 3;
  display: flex;
  grid-row: 2;
  text-shadow: var(
    --main-title-text-shadow,
    4px 4px 0 var(--accent-color, #ff0070)
  );
}

.header__title,
.footer__title {
  color: var(--main-title-color, #db00ff);
  font-size: var(
    --h1-size-mobile,
    clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)
  );
  line-height: var(--main-title-line-height, 0.83);
}

.header__title-description {
  --item-span: 3;
  display: flex;
  grid-row: 3;
  align-self: center;
  font-weight: var(--bold-font-weight, 700);
}

/* Main */
.text-decor-link {
  text-decoration: none;
  text-shadow: var(--link-shadow, 2px 2px 0 var(--accent-color, #ff0070));
}

.section__title {
  color: var(--accent-color, #ff0070);
  font-weight: var(--bold-font-weight, 700);
  font-size: var(--h2-size, 18px);
  line-height: var(--text-line-height, 1.3);
}

.title-decor {
  color: var(--background-color, #000028);
  background-color: var(--accent-color, #ff0070);
}

.section__list {
  display: grid;
  gap: var(--grid-gap, 20px);
}

.list-item__title {
  margin-block-end: var(--h3-margin-block-end, 10px);
  font-size: var(--h3-size, 18px);
}

/* Gallery */
.gallery {
  gap: 10px;
}

.gallery__illustrations {
  --grid-gap: 10px;
  display: grid;
  grid-template-columns: var(--column-size, 1fr);
  gap: var(--grid-gap);
}

.gallery__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding, 10px);
  text-shadow: var(
    --footer-text-shadow,
    2px 2px 0 var(--accent-color, #ff0070)
  );
  block-size: 100dvh;
}

.footer__title {
  font-weight: var(--bold-font-weight, 700);
}

@media (width >= 768px) {
  .header {
  --column-count: 6;
  }

  .header__theme-menu {
    grid-column: 6;
  }

  .header__title {
    position: relative;
    --item-span: 6;
    inset-inline-end: var(--padding);
  }

  .header__title,
  .footer__title {
    font-size: var(
    --h1-size-tablet-desctop,
    clamp(
    7.5rem,
    0.5625rem + 14.4531vw,
    9.8125rem)
  );
}
  .header__title-description {
    --start-column: 4;
  }
}

@media (width >= 1024px) {
}
